@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    @apply bg-ui-bg-subtle text-ui-fg-base antialiased;
    text-rendering: optimizeLegibility;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-ui-border-base rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-ui-fg-muted;
}
